
# bin file
# Ignore waf-server and waf-gate executables
waf-server
waf-gate

# Created by .ignore support plugin (hsz.mobi)
# Compiled binary files
*.exe
*.dll
*.so
*.dylib

# Executables
bin/
out/

# Go specific
# Ignore the go binary
*.test
*.prof

# Ignore the output of go test
*.out

# Ignore the vendor directory
vendor/

# Ignore go modules cache
/go.sum

# IDE-specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
*.swm
*.swpx
*.swx